form{
	width:400px;
	padding:16px;
	border-radius:10px;
	margin:auto;
    background-color:rgb(178, 215, 230);
    margin-top: 8%;

}

form label{
	width:72px;
	font-weight:bold;
    display:inline-block;
    margin-right: 30px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]
{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0px 0px 20px;
    display:inline-block;
    
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:rgb(50, 172, 76);
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

.nuevo_volver{
    margin-left: 57%;
    text-decoration: none;
    color:black

}
.nuevo_volver:hover{
    background-color: rgb(3, 3, 3);
    color:white
}
