.tabla_usuarios{
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 53%;
}
.tabla_usuarios td{
    border:1px solid black;
    width: 20%;
    
}
.tr0{
    text-align: center;
    background-color: rgb(16, 9, 65);
    color:white
}
.tr1{
background-color: rgb(174, 198, 243);
text-align: center;
}

.tr3{
    text-align: right;
    
}
.btn{
    background-color: rgb(10, 46, 122);
    
}

a:active{
    text-decoration: none;
    color:rgb(27, 17, 17);
    background-color: blue;
}
a:visited{
    color:black
}