{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    {{ form_start(formulario)}}
    {{ form_end(formulario) }}
    <a href="{{ path('listar_usuarios')}}" class="nuevo_volver">Volver</a>

</div>
{% endblock %}