{% extends 'base.html.twig' %}

{% block body %}
<table class="tabla_usuarios">
    <tr class="tr0">
        <td colspan="5">Lista de usuarios
        </td>
    </tr>

    <tr class="tr1">
        <td>Username
        </td>
        <td>Password
        </td>
        <td>Email
        </td>
        <td>Comentarios
        </td>
        <td>Acciones
        </td>
    </tr>
    {% for usuario in users %}
    <tr>
        <td>{{usuario.username}} </td>
        <td>{{usuario.password}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.comentarios}}</td>
        <td>
        <button class="btn"> <a href=" {{path('editar_usuario', {id:usuario.id}) }} ">Editar </a></button>
        <button class="btn"><a href=" {{path('eliminar_usuario', {id:usuario.id}) }} ">Eliminar</a></button>
        </td>
    </tr>
    {% endfor %}
    <tr class="tr3">
    <td colspan="5">
    <button><a href=" {{path('nuevo_usuario') }}"> Crear usuario </a>
    </button>
    <button><a href=" {{path('home') }}"> Salir => </a>
    </button>
    </td>
    </tr>

</table>


{% endblock %}