{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="img/hmg.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registro">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Iniciar sesión</a>
      </li>
  </div>
</nav>

<div class="container">
  {{ form_start(form) }}
  {{ form_row(form.email) }}
  {{ form_row(form.password) }}

  {{ form_end(form) }}
</div>
{% endblock %}